.header {
  height: 95vh;
  color: $color-white;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, 0.85)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; /* IT IS IMPORTANT WHY SET POSITION RELATIVE. */

  @media (min-resolution: 192dpi) and (min-width: 37.5em),  // Comma is equal to a OR operation.
         (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em), // in safari the min-resolution didn't work.
         (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      ),
      url("../img/hero.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; /* ?: set the HEIGHT of an img element */
  }

  &__text-box {
    position: absolute;
    text-align: center; /* set the text-align */
    text-transform: uppercase;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
