.card {

  // FUNCTIONALITY
  perspective: 150rem; // works for its child element
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;

  &__side {
    height: 50rem;
    font-size: 2rem;
    color: $color-white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all .8s ease;
    overflow: hidden; // to fix the image cover 
    // add two side of the card
    &--front {
      background-color: $color-white;
      color: $color-black;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // STYLING
  &__picture{
    background-size: cover;
    height: 32rem;
    background-blend-mode: screen; // blend-mode wow!!!
    &--1{
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      ), url(../assets/nat-5.jpg);
    }
    &--2{
      background-image: url(../assets/nat-4.jpg);
    }
    &--3{
      background-image: url(../assets/nat-6.jpg);
    }
  }
}