$parent-skew-transform: skewX(-12deg);
$correct-the-transform: skewX(12deg);

.story {
  font-size: $default-font-size;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: $parent-skew-transform;

  &__shape {
    height: 15rem;
    width: 15rem;
    background-color: rosybrown;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) $correct-the-transform; // with NO comma
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: $correct-the-transform;
  }
}
